{% extends "base.html" %}
    {% block titulo %}
    <title>Evento</title>
    {% endblock %}
    
    {% block aside %}
        <!--Código de la ventana auxiliar-->
        <aside class="auxiliar">
            <p>Instagram</p>
            <img src="img/instagram.png">
            <p>Facebook</p>
            <img src="img/facebook.png">
            <p>Twitter</p>
            <img src="img/twitter.png">
            <a href="evento-imprimir.html">
                <p>Imprimir</p>
                <img src="img/imprimir.png">
            </a>
            {% if logueado == true %}
                <button id="button" onclick="Comenta()"><span>Comenta</span></button>
            {% endif %}
        </aside>
    {% endblock %}


{% block principal %}
        <section class="ventana-informacion" style="margin-bottom: 25%;">
            <div class="imagenes">
                <img  src = "{{ evento['imagen1'] }}"/>
                <img  src= "{{ evento['imagen2'] }}"/>
            </div>
            <div class="texto-informacion">            
                <h3>{{ evento['titulo'] }}</h3>
                <h4>Por {{ evento['autor'] }}</h4>
                <h5>{{ evento['fecha'] }}</h5>
                <p>{{ evento['descripcion'] }} </p>
            </div>

            <div id ="etiquetasEvento">
                {% for etiqueta in etiquetas %}
                    <p class="etiqueta">{{ etiqueta }}</p>
                {% endfor %} 
            </div>

            <div class="caja-comentarios">
                <div id = "caja">
                    {% for comentario in comentarios %}
                        <div class="comentario">
                            <p><em>{{ comentario['usuario'] }}</em></p>
                            <p>{{ comentario['fecha'] }}</p>
                            <p>{{ comentario['comentario'] }}</p>
                            {% if comentario['moderado'] > 0 %}
                                <p><em>Mensaje editado por un moderador</em></p>
                            {% endif %}

                            {% if usuario['rol'] >= 1 %}
                                <a href="modify.php?ev={{ evento['idEvento'] }}&coment={{ comentario['idComentario'] }}&tipo=1"><img src="img/icono-lapiz.png"></a>
                                <a href="evento.php?ev={{ evento['idEvento'] }}&coment={{ comentario['idComentario'] }}&borrar=true"> <img src="img/icono-basura.png"></a>
                               
                            {% endif %}
                        </div>
                    {% endfor %} 
                </div>
            </div>


            <div id="formulario-comentarios">
                <form id = "formulario" name="formulario" method="POST" action="evento.php">
                    <input name="idevento" type="hidden" value="{{ evento['idEvento'] }}"></input>
                    <label>Comnetario</label>
                    <textarea class="textarea" name="coment" oninput="checkPalabras()" rows="10" cols="60"></textarea>
                    <input type="submit" value = "Enviar Comentario">
                    
                </form>

            </div>

            <script>
                document.getElementById("formulario-comentarios").style.display = "none";
            </script>


            <div class = "row" id="imagenes">
                <div class ="column">
                    <img src = "{{galeria[0][1]}}" onclick="abrirModal();currentSlide(1)" class="hover-shadow">
                </div>
                <div class ="column">
                    <img src = "{{galeria[1][1]}}" onclick="abrirModal();currentSlide(2)" class="hover-shadow">
                </div>
                <div class ="column">
                    <img src = "{{galeria[2][1]}}" onclick="abrirModal();currentSlide(3)" class="hover-shadow">
                </div>
            </div>


            <div id="mymodal" class ="modal">
                <span class="close cursor" onclick="cerrarModal()">&times;</span>
                <div class="modal-content">
              
                  <div class="mySlides">
                    <div class="numbertext">1 / 3</div>
                    <img src="{{galeria[0][1]}}" style="width:100%">
                  </div>
              
                  <div class="mySlides">
                    <div class="numbertext">2 / 3</div>
                    <img src="{{galeria[1][1]}}" style="width:100%">
                  </div>
              
                  <div class="mySlides">
                    <div class="numbertext">3 / 3</div>
                    <img src="{{galeria[2][1]}}" style="width:100%">
                  </div>
              
              
                  <!-- Next/previous controls -->
                  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                  <a class="next" onclick="plusSlides(1)">&#10095;</a>
              
                  <!-- Caption text -->
                  <div class="caption-container">
                    <p id="caption"></p>
                  </div>
              
                  <!-- Thumbnail image controls -->
                  <div class="column">
                    <img class="demo" src="{{galeria[0][1]}}" onclick="currentSlide(1)" alt="{{galeria[0][0]}}">
                  </div>
              
                  <div class="column">
                    <img class="demo" src="{{galeria[1][1]}}" onclick="currentSlide(2)" alt="{{galeria[1][0]}}">
                  </div>
              
                  <div class="column">
                    <img class="demo" src="{{galeria[2][1]}}" onclick="currentSlide(3)" alt="{{galeria[2][0]}}">
                  </div>
              
                </div>
            </div>

            <input style="visibility: hidden;" id="censuradas" value = "
            {% for palabra in censuradas %}
            {{palabra[0]}}
            {% endfor %}
            "/>




        </section>
    {% endblock %}