{% extends "base.html" %}

{% block titulo %}
    <title>Principal</title>
{% endblock %}

{% block aside %}
<aside class="auxiliar">
    <p>Instagram</p>
    <img src="img/instagram.png"/>
    <p>Facebook</p>
    <img src="img/facebook.png"/>
    <p>Twitter</p>
    <img src="img/twitter.png"/>
</aside>
{% endblock %}


{% block principal %}
        <!--Código de la seccion de eventos-->
        <section class="ventana-eventos">
            {% for evento in eventos %}
                <a href="evento.php?ev={{ evento['idEvento'] }}">
                    <div class="evento">
                        <img src="{{ evento['portada'] }}"/>
                        <p>{{ evento['titulo'] }}</p>
                    </div>
                </a>
            {% endfor %} 
        </section>
{% endblock %}