{% extends "base.html" %}
    {% block titulo %}
    <title>Registro</title>
    {% endblock %}


{% block aside %}
<aside class="auxiliar">
    <p>Instagram</p>
    <img src="img/instagram.png"/>
    <p>Facebook</p>
    <img src="img/facebook.png"/>
    <p>Twitter</p>
    <img src="img/twitter.png"/>
</aside>
{% endblock %}


{% block principal %}

        <section>


            <form action="register.php" method="post" class="form" enctype="multipart/form-data" id = "formulario-registro" name="formulario-registro">
              {% for e in errors %}
                  <p>{{ e }}</p>
              {% endfor %} 
                <div class="form__field">
                  <input type="text" name="nick" id="nick" placeholder="Usuario" required>
                </div>
        
                <div class="form__field">
                  <input type="password" name="pass" id="pass" placeholder="Contraseña" required>
                </div>

                <div class="form__field">
                  <input type="password" name="pass2" id="pass" placeholder="Verifica la contraseña" required>
                </div>

                <div class="form__field">
                  <input type="text" name="email" id="email" placeholder="Email" required>
                </div>

                <div class="form__field">
                    <p>Inserte su imagen de avatar</p>
                    <input type="file" name="imagen">
                  </div>
        
                <div class="form__field">
                  <input type="submit" value="Registrarse">
                </div>
        
              </form>
        </section>
    {% endblock %}